.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
build/
backend/data/*.sqlite
backend/data/*.sqlite-*
backend/public/uploads/avatars/*
backend/public/uploads/media/*
!backend/public/uploads/avatars/.gitkeep
!backend/public/uploads/media/.gitkeep
